*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: inherit;
}
.active {
  color: #5cd3a8;
}

body {
  background-color: rgba(137, 43, 226, 0.777);
  height: 100vh;
}
